:root{
    --main:#240088;
    --main-dark:#1b0066;
    --main-light:#3700cf;
}
header{
    left: 0;
    position: fixed;
    top: 0;
    height: 5vh;
    width: 100%;
    background-color: var(--main);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 100;
}
header a{
    display: flex;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-left: .2vw;
    padding-right: .2vw;
    width: 8vw;
    justify-content: space-around;
    align-items: center;
}
header a:hover{
    background-color: var(--main-dark);
    border-bottom: solid white 3px;
}
#logo{
    position: absolute;
    left: 0;
    border: none;
}
#logo:hover{
    background-color: transparent ;
}
table{
    margin-left: 10%;
    width: 80%;
    height: 100%;
    box-sizing: unset;
}
td{
    text-align: left;
    padding: 3vh 1vw 2vh 2vw;
    width: 50%;
    overflow: hidden;
    background-color: #1b006694;
    color: white;
    border-radius: 40px 40px 0 0;
}

td p {
    font-size: 15pt;
    font-family: sans-serif;
    line-height: 19pt;
}

td p::first-letter {
    font-size: 20pt;
    margin-left: 10px;
}

div#container {
    position: absolute;
    width: 90%;
    left: 5%;
    background: #ffffff59;
    backdrop-filter: blur(15px);
    padding-bottom: 8vh;
}

.img-cell {
    padding: 4vh 0 2vh 0;
    width: 50vw;
    background-color: transparent;
}

img {
    width: 140%;
}

#img1 {
    transform: translateX(-127px);
}

#img3 {
    transform: translateX(-127px);
}

br::after {
    margin-right: 11pt;
}

#logo img {
    height: 5vh;
    width: auto;
}

#bg {
    width: 100%;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
}

.space td {
    background-color: transparent;
    padding: 6vh 0 10vh 0;
}

.space td:first-child {
}

#footer td {
    padding: 0;
    height: 10vh;
    text-align: center;
    font-size: 12pt;
    background-color: var(--main-dark);
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
    margin-top: 4vh;
}

#footer td p {
    font-size: inherit;
}

#footer td p:first-letter {
    font-size: inherit;
}